/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global styles */
.customStyle{
	background-color: rgba(0,0,0,0.8);
	padding:15px 20px;
	margin-top: -20px;
}
.customStyle h3{
	color: #FFF;
	font-family: 'Helvetica';
	text-transform: uppercase;
	font-size: 2vw;
	
}
/* Plugin styles */
.res_slider_wrap{
	overflow: hidden;
}
.res_slider_ul img{
	max-width: 100%;
	height: auto;
	-webkit-transition: all 14s ease;
	   -moz-transition: all 14s ease;
	    -ms-transition: all 14s ease;
	     -o-transition: all 14s ease;
	        transition: all 14s ease;
	-webkit-transform-origin: right bottom;
	   -moz-transform-origin: right bottom;
	    -ms-transform-origin: right bottom;
	     -o-transform-origin: right bottom;
	        transform-origin: right bottom;
}
.res_slider_ul img.kenburn{
	-webkit-transform: scale(1.4) translate(20px, 20px);
	   -moz-transform: scale(1.4) translate(20px, 20px);
	    -ms-transform: scale(1.4) translate(20px, 20px);
	     -o-transform: scale(1.4) translate(20px, 20px);
	        transform: scale(1.4) translate(20px, 20px);
	    
}
.res_single_slide{
	float: left;
	position: relative;
	overflow: hidden;
}
.res_caption{
	position: absolute;
	top: 50%;
	z-index: 3;
	left: 30px;
	opacity: 0;
	-webkit-transform: translate(100px, 0);
	   -moz-transform: translate(100px, 0);
	    -ms-transform: translate(100px, 0);
	     -o-transform: translate(100px, 0);
	        transform: translate(100px, 0);
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}
.res_active_caption{
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	     -o-transform: translate(0, 0);
	        transform: translate(0, 0);
	    opacity: 1;
}
